:root {
  --white: #fff;
  --black-text: rgb(51, 51, 51);
  --grey: #e0e0e0;
  --dark-grey: #c7c7c7;
  --light-grey: #f5f5f5;

  --orange: #ff6b00;
  --orange-red: #f54d2c;
  --yellow: #edda31;
  --green: #4baf5b;
  --blue: #0e6fe6;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  box-sizing: inherit;
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
